body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

/* Ensure other elements adapt to dark mode */
body.dark-mode .text-column h1,
body.dark-mode .text-column p {
  color: #e0e0e0;
}

body.dark-mode .cta-button {
  background-color: #444;
  color: #e0e0e0;
}
